<p>home works!</p>
<input type="text" name="name" [(ngModel)] = "fname1" (keyup) = 'func()'><br><br>
<!-- <button (>Navigate</button> -->
<button><a class="link" routerLink='/info' routerLinkActive="active">Info</a></button><br><br>
<button><a class="link" routerLink="/services" routerLinkActive="active">Services</a></button><br><br>
<button><a class="link" routerLink="/contact" routerLinkActive="active">Contact</a></button><br><br>
<button><a class="link" routerLink="/profile" routerLinkActive="active">Profile</a></button><br><br>
